<main role="main" class="container-fluid">
    <div class="row">
        <div class="col-lg-9" >
            <div class="row">
                <app-card  *ngFor="let item of items | search: search : 'name' | filter: filter : 'category'" [item]="item"></app-card>
            </div>
        </div>
        <div class="col-lg-3 py-2 ">
            <form>
                <div class="form-group mb-2">
                    <input class="form-control inputText" type="text"  name="search"[(ngModel)]='search'>
                    <span class="floating-label">Search by product name</span>
                </div>
            </form>
            <div class="card mb-2" >
                <div class="card-body">
                    <input type="checkbox"  name="filter" (change)="clicked('Food')">
                    <label class="badge badge-warning m-2"> Food</label><br>
                    <input type="checkbox"  name="filter" (change)="clicked('Drinks')">
                    <label class="badge badge-info m-2"> Drinks</label><br>
                </div>
            </div>
            <app-checkout></app-checkout>
        </div>
    </div>
</main>

