<div class="footer container-fluid">
    <div class="row" >
        <h5><b>Aeguana</b> Ltd</h5>
    </div>
    <div class="row">
        <div class="col-sm-4 py-1" >
            <i class="fa fa-2x fa-fw fa-map-marker"></i>
            <a href="">Unit 35 iO Centre Armstrong Road London SE18 6RS</a>
        </div>
        <div class="col-sm-4 py-1" >
            <i class="fa fa-2x fa-fw fa-envelope-o"></i>
            <a href="">hello@aeguana.com</a>
        </div>
        <div class="col-sm-4 py-1">
            <i class="fa fa-2x fa-fw fa-phone"></i>
            <a href="">+44 (0)207 726 8575</a>
        </div>
    </div>
    <div class="row" >
        <div class="col" >
            <a href="https://www.linkedin.com/company/1502632" target="_blank"><i class="fa fa-fw fa-2x fa-linkedin"></i></a>
        </div>
        <div class="col" >
            <a href="https://twitter.com/aeguana" target="_blank"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
        </div>
        <div class="col">
            <a href="https://www.facebook.com/aeguana/" target="_blank"><i class="fa fa-fw fa-2x fa-facebook"></i></a>
        </div>
        <div class="col">
            <a href="https://github.com/aeguana"><i class="fa fa-fw fa-2x fa-github"></i></a>                        
        </div>
    </div>
 </div>